*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: #FFCFF5;
}
a{
    text-decoration: none;
    color: #7C77B9;
}

.header {
    display: flex;
    height: 16vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: #F4A5E3;
}
.imagenLogo{
    height: 80%;
}

.header nav ul{
    position: right;
    list-style: none;
    display: flex;
    gap: 40px;
}
.list-nav {
    list-style: none;
    display: flex;
    font-weight: 300;
    font-size: 2em;
}
.list-nav:hover{
    background-color: #ED64CF;
}
